.c-form-select {
  select {
    appearance: none;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgZmlsbD0iY3VycmVudENvbG9yIiB2aWV3Qm94PSIwIDAgMTAwIDEwMCI+CiAgPHBhdGggZD0iTTUwLDUyLjdsMjkuNy0yOS43YzQuNS00LjUsMTEuNy00LjUsMTYuMiwwLDQuNSw0LjUsNC41LDExLjcsMCwxNi4ybC0zNy44LDM3LjhjLTQuNSw0LjUtMTEuNyw0LjUtMTYuMiwwTDQuMSwzOS4yYy00LjUtNC41LTQuNS0xMS43LDAtMTYuMiw0LjUtNC41LDExLjctNC41LDE2LjIsMGwyOS43LDI5LjdaIi8+Cjwvc3ZnPg==");
    background-position: right .65rem center;
    background-repeat: no-repeat;
    background-size: .5rem .5rem;
  }
}