.base-scrollbar {
  .arrow {
    @apply absolute top-1/2 w-12 h-12 border border-secondary-light bg-white rounded-full flex justify-center items-center -translate-y-1/2 transition-default opacity-0
  }
}