{
  "extends": [
    "@nuxtjs/eslint-config-typescript"
  ],
  "rules": {
    "vue/no-v-html": ["off"],
    "vue/multi-word-component-names": ["off"],
    "vue/first-attribute-linebreak": ["error", {
      "singleline": "beside",
      "multiline": "below"
    }],
    "vue/max-attributes-per-line": ["error", {
      "singleline": {
        "max": 1
      },
      "multiline": {
        "max": 1
      }
    }],
    "vue/html-closing-bracket-newline": [
      "error",
      {
        "singleline": "never",
        "multiline": "never",
        "selfClosingTag": {
          "singleline": "never",
          "multiline": "never"
        }
      }
    ]
  }
}
