@font-face {
  font-family: Hind;
  src: url('/bundles/liatheme/fonts/Hind/Hind-Light.woff2') format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Hind;
  src: url('/bundles/liatheme/fonts/Hind/Hind-Regular.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Hind;
  src: url('/bundles/liatheme/fonts/Hind/Hind-Medium.woff2') format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Hind;
  src: url('/bundles/liatheme/fonts/Hind/Hind-SemiBold.woff2') format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Hind;
  src: url('/bundles/liatheme/fonts/Hind/Hind-Bold.woff2') format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}