.checkout-divider {
  position: relative;
  width: 100%;
  height: 1px;
  background: $sw-border-color;
  margin: 10px 0;
  &.invert {
    background-color: rgba($sw-text-color, 0.90);
    opacity: 0.1;
  }
  .label-wrapper {
    position: absolute;
    background: $sw-background-color;
    padding: 0 10px;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    .label {
      opacity: 0.5;
      text-align: center;
      white-space: nowrap;
    }
  }
}