.checkout-usps {
  margin: 40px 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: flex;
      column-gap: 10px;
      font-size: 14px;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
      .icon {
        width: 13px;
        height: auto;
        align-self: flex-start;
        color: $sw-color-success;
        margin-top: 1px;
      }
      .usp-wrapper {
        flex: 1;
        .label {
          font-weight: 500;
        }
        .description {
          font-weight: 200
        }
      }
    }
  }
}