.c-base-skeleton {
  @apply bg-secondary-light w-full inline-flex relative overflow-hidden after:content-[''] after:block after:absolute after:top-0 after:right-0 after:bottom-0 after:left-0 after:h-full after:-translate-x-full after:bg-gradient-to-r after:from-secondary-light after:via-white after:to-secondary-light after:animate-[skeleton_1.5s_ease-in-out_infinite];
}

@keyframes skeleton {
  100% {
    transform: translateX(100%);
  }
}