{% set delivery = page.order.deliveries|first %}
{% set deliveryAddress = delivery.shippingOrderAddress %}
{% set billingAddress = page.order.billingAddress %}

<div class="addresses">
  {% sw_include '@Storefront/storefront/page/checkout/components/_card.html.twig' with {
    headline: 'checkout.delivery_address.alternative'|trans,
    address: deliveryAddress
  } %}

  {% sw_include '@Storefront/storefront/page/checkout/components/_card.html.twig' with {
    headline: 'checkout.billing_address.alternative'|trans,
    address: billingAddress
  } %}
</div>